.section-head {
    margin-bottom: var(--main-header-bottom-margin);
    font-size: var(--main-section-head-size);
    font-weight: bold;
    text-align: center;
}

.container .section-head {
    color: var(--main-purple);
}

.container.user-selection .section-head {
    color: var(--main-red);
}

.container.value-prop .section-head{
    color: var(--main-blue);
}

.value-items {
    list-style: circle inside;
    margin-top: 30px;
    padding-left: 30px;
    font-size: 1.25rem;
    line-height: var(--copy-line-height);
    color: var(--main-default-copy-color);
}

.value-items li {
    margin-bottom: 20px;
    padding-left: 2rem;
    text-indent: -2rem;
}

.letter .main-copy {
    margin-bottom: 20px;
    line-height: 2.25rem;
    font-style: oblique;
}