.select-btn {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

/* Responsive Mobile Styling */

@media screen and (max-width: 415px) {
    .select-btn {
        font-size: 1rem;
    }
}

@media screen and (min-width: 416px) {
    .select-btn {
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 520px) {
    .select-btn {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 750px) {

}

@media screen and (min-width: 1015px) {
    
}

@media screen and (min-width: 1225px) {
    
}

@media screen and (min-width: 1360px) {

}

@media screen and (min-width: 1500px) {
    
}