#coping .support-copy {
    text-align: center;
}

.coping-list {
    padding: 5px 15px;
    list-style:decimal inside;
}

.coping-list li {
    margin-bottom: 20px;
    padding-left: 2rem;
    text-indent: -2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: var(--copy-line-height);
}