.btn-link {
    width: var(--btn-select-width);
    text-decoration: none;
}

.btn-link:after {
    content: '';
    display: block;
    padding-bottom: 100%;
    pointer-events: none;
}

.user-btn, .select-btn {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height:100%;
    text-align: center;
}

.red-btn {
    background-color: var(--main-red);
}

.blue-btn {
    background-color: var(--main-blue);
}

.green-btn {
    background-color: var(--main-green);
}

.yellow-btn {
    background-color: var(--main-yellow);
}

.purple-btn {
    background-color: var(--main-purple);
}

.none-btn {
    background-color: var(--main-neutral);
}